body{
    background-color: #f0eff0;
    position: relative;
    height: 100vh;
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: #128C7E;
    z-index: -10;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
}

.container{
    height: 95%;
    margin: auto;
    padding: 0;
    display: flex;
}

.contact-side{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    height: 6rem;
    background-color: #f0eff0;
    border: 1px solid gray;
}

.img-contact{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.me{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name{
    font-size: 20px;
}

.controls{
    padding-right: 1rem;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.controls i{
    padding: .5rem;
    color: grey;
    font-size: 20px;
    cursor: pointer;
}

i:hover{
    scale: 1.3;
    cursor: pointer;
}

.notify-alert{
    background-color: #8edafc;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
}

.notify-alert i{
    color: #8edafc;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}

.notify-alert i:hover{
    scale: 1;
    cursor: help;
}

.notify-alert p{
    margin: 0;
}

.notify-alert a{
    color: gray;
}

.search-bar{
    background-color: #fafafa;
    padding: .3rem;
    display: flex;
}

.search-bar input{
    width: 80%;
    background-color: white;
    border: 1px solid lightgray;
    border-left: none;
    border-radius: 0 3px 3px 0;
    padding: .3rem;
}

.search-bar button{
    background-color: white;
    width: 20%;
    border: 1px solid lightgray;
    color: grey;
    border-radius: 3px 0 0 3px;
    padding: .3rem;
}

.search-bar button:hover{
    background-color: rgb(223, 221, 221);
}

.chat{
    flex: 1 0 0;
    background-color: white;
    overflow-y: scroll;
}

.contact{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid lightgray;
    position: relative;
    flex-wrap: nowrap;
}

.chat .contact:hover{
    background-color: #e0e0e0;
}

.info-contact{
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.last-message{
    color: rgb(150, 149, 149);
    font-size: 15px;
}

.h-last-message{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 13px;
    color: rgb(150, 149, 149);
}

.message-side{
    display: flex;
    flex-direction: column;
}

.selected-contact{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0eff0;
    border: 1px solid gray;
    border-left: none;
}

.selected-contact .contact{
    border: none;
}

.current-chat{
    flex: 1 0 0;
    background-image: url(../img/mine.jpg);
    background-position: center;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    overflow-y: scroll;
}

.message{
    max-width: 20rem;
    min-width: 5rem;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
    word-wrap: break-word;
}

.sent{
    background-color: #d5f9ba;
    align-self: flex-end;
    text-align: end;
}

.received{
    background-color: #ffffff;
    align-self: flex-start;
}

.hour{
    position: absolute;
    bottom: .5rem;
    right: 2rem;
    font-size: 15px;
    color: rgb(150, 149, 149);
}

.writers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: #f3eeea;
    padding: 0 2rem;
}

.writers i{
    color: gray;
    font-size: 25px;
}

.input-message{
    width: 70%;
    padding: .7rem;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
}

.menu{
    width: 200px;
    background-color: #f0eff0;
    position: absolute;
    z-index: 10;
}

.menu div{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    font-size: 20px;
    cursor: pointer;
}

.menu div:hover{
    background-color: #e0e0e0;
}

.controls .menu{
    position: absolute;
    top: 2rem;
    left: -7rem;
}

.message img{
    width: 100%;
    padding-bottom: 2rem;
    transition: 3s;
}

.message img:active{
    scale: 2;
}

.welcome-page{
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.welcome-page span{
    font-size: 30px;
    font-weight: 500;
    font-family: 'Fredoka One', cursive;
}

.splash-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cfcfcf;
}

.splash-page img{
    width: 35%;
}

.splash-page p{
    margin-top: 2rem;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
}

.row{
    width: 100%; 
}

.row .contact-side{
    margin: 0;
    padding: 0;
}

.row .message-side {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(72, 72, 72, 0.1);
    border-radius: 10px;
}

.message i{
    color: rgb(150, 149, 149);
}

.check-a{
    position: absolute;
    right: .8rem;
    bottom: .5rem;
}

.check-b{
    position: absolute;
    right: .5rem;
    bottom: .5rem;
}

.welcome-page span:last-child{
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(150, 149, 149);
}

  .wrapper {
    display: inline-flex;
    height: 100px;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
    
  }
  .wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 10px;
    border: 2px solid #180f2f;
    transition: all 0.5s ease;
    margin: 0 10px;
  }
  input[type="radio"] {
    display: none;
  }
  input#one:checked ~ .option-1,
  input#two:checked ~ .option-2 {
    background: #180f2f;
    border-color: #180f2f;
  }
  input#one:checked ~ .option-1 span,
  input#two:checked ~ .option-2 span {
    color: #fff;
  }
  .wrapper .option span {
    font-size: 20px;
  }

  .current-chat.dark{
    background-image: url(../img/message-theme-dark.jfif);
    background-position: center;
    background-size: cover;
  }

  .writers.dark{
    background-color: #202c33;
  }

  .input-message.dark{
    background-color: #2a3942;
  }

  .selected-contact.dark{
    background-color: #202c33;
  }

  .welcome-page.dark{
    background-color: #222e35;
  }

  .chat.dark{
    background-color: #111b21;
  }

  .search-bar.dark{
    background-color: #111b21;
  }

  .btn-search.dark{
    background-color: #202c33;
  }

  .input-search.dark{
    background-color: #202c33;
  }

  .my-contact.dark{
    background-color: #202c33;
  }

  .name.dark{
    color: white;
  }

  .welcome-page span.dark{
    color: white;
  }

  .font{
    width: 40px;
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 5px;
    background-color: #cfcfcf;
  }

  .chargeBar{
    height: 20px;
    border-radius: 5px;
    animation-name: charge;
    animation-duration: 3s;
    background-color: #30b944;
    margin: 2rem 0;
  }

  @keyframes charge{
    from {width: 0px;}
    to {width: 1000px;}
  }